@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
$col1: #000;
$imp: !important;
$wht: #fff;
body {
  margin: 0;
  padding: 0;
}
.nav-bar {
  padding: 10px 15px;
  background-color: #283f8a;
  color: $wht;
  font-size: 14px;
  font-weight: 500;
  ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    margin: 0px 10px;
    a {
      text-decoration: none;
      color: $wht;
    }
  }
}
.active {
  color: yellow $imp;
}
p {
  margin: 0;
}
.loads {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.body-blur {
  filter: blur(1.5px);
  width: 100%;
  height: 100%;
  position: fixed;
}
.shows {
  display: none;
}
.heights {
  min-height: 62px;
}

.loader {
  width: 40px;
  height: 40px;
  color: #f03355;
  background: conic-gradient(
      from -45deg at top 20px left 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    ),
    conic-gradient(
      from 45deg at right 20px top 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    ),
    conic-gradient(
      from 135deg at bottom 20px left 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    ),
    conic-gradient(
      from -135deg at left 20px top 50%,
      #0000,
      currentColor 1deg 90deg,
      #0000 91deg
    );
  animation: l4 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes l4 {
  50% {
    width: 60px;
    height: 60px;
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#my-input {
  table {
    svg {
      cursor: pointer;
      margin-left: 07px;
      &:nth-child(1) {
        color: blue;
      }
      &:nth-child(2) {
        color: red;
      }
    }
    font-size: 14px;
  }
}
.pass-input {
  position: relative;
  svg {
    position: absolute;
    right: 19px;
    top: 7px;
    cursor: pointer;
  }
}
.skills {
  em {
    font-weight: 700;
  }
  .clicks {
    cursor: pointer;
    color: blue;
  }
}
